<div class="row">
  <div class="col-8">
    <h1 align="center">Listing <%= @tag.name %> tag notes</h1>
    <%= will_paginate @notes %>
    <%= render 'notes/note', obj: @notes %>
    <%= will_paginate @notes %>
  </div>

  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Tags</h5>
      <div class="card-body">
        <% Tag.preload(:notes).each do |tag| %>
          <div class="tag">
            <%= link_to(notes_tag_path(tag), class: "badge badge-primary") do %>
              <%= tag.name %> <span class="badge badge-light"><%= tag.notes.size %></span>
              <%= link_to "x", tag_path(tag), method: :delete,
                  data: { confirm: "Are you sure you want to delete the tag?"},
                  class: "tag-close-link" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
